h1,
body,
p {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #ffb6c1, #ffc0cb);
}

.container {
  display: flex;
  flex-direction: column;
}

.greeting-text {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.note {
  margin-bottom: 20px;
  border: 2px solid rgb(202, 110, 126);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;
  padding: 30px;
  background-color: white;
}

.note-text {
  /* font-family: "Great Vibes", cursive;; */
  line-height: 30px;
}

.advance-btn-container {
  width: 360px;
  display: flex;
  justify-content: center;
}

.advance-btn {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  background-color: rgb(202, 112, 127);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 20px;
  font-size: 20px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
}
