h1,
body,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: pink;
}

.container {
  display: flex;
  flex-direction: column;
}
.note {
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 3px;
}

.note-text {
  width: 300px;
}
